.git
.gitignore
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/app/public
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/build
npm-debug.log
Dockerfile
README.md
